
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    {% load staticfiles %}
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Statistics Undergraduate Student Association</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="{% static 'schedule_builder/images/favicon.ico' %}">


	<!-- Animate.css -->
	<link rel="stylesheet" type="text/css" href="{% static 'schedule_builder/css/animate.css' %}" />
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" type="text/css" href="{% static 'schedule_builder/css/icomoon.css' %}" />
	<!-- Bootstrap  -->
	<link rel="stylesheet" type="text/css" href="{% static 'schedule_builder/css/bootstrap.css' %}" />
	<!-- Flexslider  -->
	<link rel="stylesheet" type="text/css" href="{% static 'schedule_builder/css/flexslider.css' %}" />
	<!-- Theme style  -->
	<link rel="stylesheet" type="text/css" href="{% static 'schedule_builder/css/style.css' %}" />
    <!-- Custom font style -->
    <link rel="stylesheet" type="text/css" href="{% static 'schedule_builder/css/fonts.css' %}" />

	<!-- Modernizr JS -->
	<script src="{% static 'schedule_builder/js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
    
    <script src="{% static 'schedule_builder/js/jquery-3.1.1.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.js"></script>
    <script src="{% static 'schedule_builder/js/list_courses.js' %}"></script>


	</head>
	<body>


	<div id="fh5co-page">
    <header id="fh5co-header" role="banner">
        <div class="container">
            <div class="header-inner">
                <!--<h1><a href="{% url 'home' %}">SUSA</a></h1>-->
                <a href="{% url 'home' %}"><img src="{% static 'schedule_builder/images/susafinallogo.png' %}" style="height:90%;vertical-align:middle;margin-top:5px;"></img></a>
                <nav role="navigation">
                    <ul>
                        <li><a href="{% url 'blog' %}">Blog</a></li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Committees<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'dataconsulting' %}">Data Consulting</a></li>
                                <li><a href="{% url 'webdev' %}">Web Development</a></li>
                                <li><a href="{% url 'research' %}">Research and Publication</a></li>
                                <li><a href="{% url 'careerex' %}">Career Exploration</a></li>
                            </ul>
                        </li>
                        <li><a href="course-map">Course Map</a></li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Courses<span class="caret"></span></a>
                            <ul class="dropdown-menu" style="overflow-x:hidden; overflow-y:auto; max-height:250px;">
                                <li><a href="{% url 'stat133' %}">Stat 133</a></li>
                                <li><a href="{% url 'stat134' %}">Stat 134</a></li>
                                <li><a href="{% url 'stat135' %}">Stat 135</a></li>
				<li><a href="{% url 'stat150' %}">Stat 150</a></li>
				<li><a href="{% url 'stat151a' %}">Stat 151A</a></li>
				<li><a href="{% url 'stat151b' %}">Stat 151B</a></li>
				<li><a href="{% url 'stat152' %}">Stat 152</a></li>
				<li><a href="{% url 'stat153' %}">Stat 153</a></li>
				<li><a href="{% url 'stat154' %}">Stat 154</a></li>
                                <li><a href="{% url 'stat155' %}">Stat 155</a></li>
				<li><a href="{% url 'stat157' %}">Stat 157</a></li>
				<li><a href="{% url 'stat158' %}">Stat 158</a></li>
				<li><a href="{% url 'stat159' %}">Stat 159</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'people' %}">People</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    {% block content %}





    {% endblock %}

	
	<footer id="fh5co-footer" role="contentinfo">
	
		<div class="container">
			<div class="col-md-12 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>About Us</h3>
                <p>The Statistics Undergraduate Student Association is a premier organization at UC Berkeley that stimulates its members' interests in Statistics and facilitates their further development in a statistics career.</p>

                <p>You may contact us at <a href="mailto:contact@susa.berkeley.edu">contact@susa.berkeley.edu</a> or follow us on <a href="https://www.facebook.com/susaberkeley">Facebook!</a></p>
                <!--<p><a href="#" class="btn btn-primary btn-outline with-arrow btn-sm">Join Us <i class="icon-arrow-right"></i></a></p>-->
            <!-- <div class="col-md-6 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>Our Services</h3>
				<ul class="float">
					<li><a href="#">Web Design</a></li>
					<li><a href="#">Branding &amp; Identity</a></li>
					<li><a href="#">Free HTML5</a></li>
					<li><a href="#">HandCrafted Templates</a></li>
				</ul>
				<ul class="float">
					<li><a href="#">Free Bootstrap Template</a></li>
					<li><a href="#">Free HTML5 Template</a></li>
					<li><a href="#">Free HTML5 &amp; CSS3 Template</a></li>
					<li><a href="#">HandCrafted Templates</a></li>
				</ul>
			</div>
			<div class="col-md-12 col-md-push-0 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0 fh5co-social">
                <h3><a href="https://www.facebook.com/susaberkeley/">Follow us on Facebook!</a></h3>
			<ul class="fh5co-social">
			<div class="col-md-2 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
					<li><a href="#"><i class="icon-facebook"></i></a></li>
            </div>
            </ul>-->
			</div>
			</div>
			<div class="col-md-12 fh5co-copyright text-center">
                <p>Copyright © 2017 SUSA. All rights reserved. Design by Yitz Deng, Aaron Chai, David Nahm.</p>
                <p>We are a student group acting independently of the University of California. <span> We take full responsibility for our organization and this web site. </span></p>
    <a href="https://www.ocf.berkeley.edu">
            <img src="https://www.ocf.berkeley.edu/hosting-logos/ocfbadge_mini8darkglow.png"
                    alt="Hosted by the OCF" style="border: 0;" />
    </a>
			</div>
			
		</div>
	</footer>
	</div>

    

	<!-- jQuery -->
	<script src="{% static 'schedule_builder/js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'schedule_builder/js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'schedule_builder/js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'schedule_builder/js/jquery.waypoints.min.js' %}"></script>
	<!-- Flexslider -->
	<script src="{% static 'schedule_builder/js/jquery.flexslider-min.js' %}"></script>
	<!-- Stellar -->
	<script src="{% static 'schedule_builder/js/jquery.stellar.min.js' %}"></script>

	<!-- MAIN JS -->
	<script src="{% static 'schedule_builder/js/main.js' %}"></script>
	</body>
</html>

