{% extends "header.html" %}
{% load staticfiles %}
{% block content %}
	<aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
		   	<li style="background-image: url({% static 'schedule_builder/images/stars.jpg' %});">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<!-- <video playsinline autoplay muted loop>
		   						WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button
		   						<source src="static/schedule_builder/images/Pride.mp4" type="video/webm">
		   					</video> -->
		   					<h2>Statistics Undergraduate Student Association</h2>
                            <div>
                                <img src="{% static 'schedule_builder/images/icondata.png' %}" style="padding:5px; width:75px; height:75px; display:inline"></img>
                                <img src="{% static 'schedule_builder/images/iconwebdev.png' %}" style="padding:5px; width:75px; height:75px; display:inline"></img>
                                <img src="{% static 'schedule_builder/images/iconresearch.png' %}" style="padding:5px; width:75px; height:75px; display:inline"></img>
                                <img src="{% static 'schedule_builder/images/iconcareerexploration.png' %}" style="padding:5px; width:75px; height:75px; display:inline"></img>
                                <img src="{% static 'schedule_builder/images/iconivp.png' %}" style="padding:5px; width:75px; height:75px; display:inline"></img>
                                <img src="{% static 'schedule_builder/images/iconevp.png' %}" style="padding:5px; width:75px; height:75px; display:inline"></img>
                            </div>
                            <!--<a href="/careerex" class="btn btn-select-plan btn-sm" style="padding:10px 20px; background:#5bc0de; color:#fff">Apply Now!</a>-->  
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url({% static 'schedule_builder/images/black_white_aesthetic.jpg' %});">
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   				<h2>Statistics Undergraduate Student Association</h2>
                        <div>
                            <img src="{% static 'schedule_builder/images/icondata.png' %}" style="padding:5px; width:75px; height:75px; display:inline"></img>
                            <img src="{% static 'schedule_builder/images/iconwebdev.png' %}" style="padding:5px; width:75px; height:75px; display:inline"></img>
                            <img src="{% static 'schedule_builder/images/iconresearch.png' %}" style="padding:5px; width:75px; height:75px; display:inline"></img>
                            <img src="{% static 'schedule_builder/images/iconcareerexploration.png' %}" style="padding:5px; width:75px; height:75px; display:inline"></img>
                            <img src="{% static 'schedule_builder/images/iconivp.png' %}" style="padding:5px; width:75px; height:75px; display:inline"></img>
                            <img src="{% static 'schedule_builder/images/iconevp.png' %}" style="padding:5px; width:75px; height:75px; display:inline"></img>
                        </div>
                        <!--<a href="/careerex" class="btn btn-select-plan btn-sm" style="padding:10px 20px; background:#5bc0de; color:#fff">Apply Now!</a>-->
		   				</div>
		   			</div>
		   		</div>
		  	</ul>
	  	</div>
	</aside>

	<div id="fh5co-pricing-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
					<h2>Committees</h2>
					<p>Besides hosting events, USA also offers opportunities for students to hone their skills as a member of one of its four committees. By joining a committee, students can get involved in the leadership of the club and gain practical experience in statistical research, event planning, or marketing. We encourage any interested students to apply at the beginning of each semester.</p>
				</div>
			</div>
			<div class="row">
				<div class="pricing">
					<div class="col-md-6 animate-box">
						<div class="price-box">
                                <img src="{% static 'schedule_builder/images/icondata.png' %}" style="padding:5px; width:100px; height:100px; display:inline"></img>
							<h3>Data Consulting</h3>

							<p>At the core of our club is the Data Consulting Committee. Members have the opportunity to analyze real-life data, working with companies, nonprofits, and Berkeley-affiliated organizations to advise policy and make data-driven decisions. Students will learn a variety of machine learning techniques and advanced statistical methods, as well as a suite of visualization tools, all in a professional yet instructive setting.</p>
							<a href="{% url 'dataconsulting' %}" class="btn btn-select-plan btn-sm">Learn More</a>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSf91HQneSOXWyZ3YNKKbwXkXgch01xdfUwiqQGsI6T8SgISGQ/viewform" class="btn btn-select-plan btn-sm">Apply Now</a>
						</div>
					</div>

					<div class="col-md-6 animate-box">
						<div class="price-box">
                                <img src="{% static 'schedule_builder/images/iconcareerexploration.png' %}" style="padding:5px; width:100px; height:100px; display:inline"></img>
							<h3>Career Exploration</h3>
							<p>The Career Exploration Committee is a great place to start for students who are just beginning their careers in Statistics! Members get access to exclusive weekly talks, statistical and professional workshops, and career info sessions, along with private office hours with experienced advisors and the continuous academic and social support SUSA offers. </p>
                            <a href="{% url 'careerex' %}" class="btn btn-select-plan btn-sm">Learn More</a>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSf91HQneSOXWyZ3YNKKbwXkXgch01xdfUwiqQGsI6T8SgISGQ/viewform" class="btn btn-select-plan btn-sm">Apply Now</a>

						</div>
					</div>
				</div>
			</div>	
			<br>
			<div class="row">
				<div class="pricing">
					<div class="col-md-6 animate-box">
						<div class="price-box">
                                <img src="{% static 'schedule_builder/images/iconwebdev.png' %}" style="padding:5px; width:100px; height:100px; display:inline"></img>
							<h3>Web Development</h3>
							<p> The Web Development Committee develops and maintains our website in addition to developing web applications for various uses.</p>
                            <a href="{% url 'webdev' %}" class="btn btn-select-plan btn-sm">Learn More</a>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSf91HQneSOXWyZ3YNKKbwXkXgch01xdfUwiqQGsI6T8SgISGQ/viewform" class="btn btn-select-plan btn-sm">Apply Now</a>

						</div>
					</div>

					<div class="col-md-6 animate-box">
						<div class="price-box">

                                <img src="{% static 'schedule_builder/images/iconresearch.png' %}" style="padding:5px; width:100px; height:100px; display:inline"></img>
							<h3>Research and Publication</h3>
							<p>The Research and Publication Committee gives driven students the opportunity to pursue personal research projects in topics ranging from industry trends and developments to personal statistical studies while backed by readily available individual guidance and a professional medium of publication.</p>
                            <a href="{% url 'research' %}" class="btn btn-select-plan btn-sm">Learn More</a>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSf91HQneSOXWyZ3YNKKbwXkXgch01xdfUwiqQGsI6T8SgISGQ/viewform" class="btn btn-select-plan btn-sm">Apply Now</a>

						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="pricing">
					<div class="col-md-6 animate-box">
						<div class="price-box">
                                <img src="{% static 'schedule_builder/images/iconivp.png' %}" style="padding:5px; width:100px; height:100px; display:inline"></img>
							<h3>Events and Marketing (IVP Office)</h3>
							<p>The Events and Marketing Committee is a small team dedicated to planning academic, professional, and social events for the club, gaining hands-on experience in event organization and management. Members will also earn valuable design and marketing skills through event design and upkeep of our social media pages.</p>
                            <a href="{% url 'webdev' %}" class="btn btn-select-plan btn-sm">Learn More</a>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSf91HQneSOXWyZ3YNKKbwXkXgch01xdfUwiqQGsI6T8SgISGQ/viewform" class="btn btn-select-plan btn-sm">Apply Now</a>

						</div>
					</div>

					<div class="col-md-6 animate-box">
						<div class="price-box">
                                <img src="{% static 'schedule_builder/images/iconevp.png' %}" style="padding:5px; width:100px; height:100px; display:inline"></img>
							<h3>Expansionary Action (EVP Office)</h3>
							<p>The Expansionary Action Committee is a new committee designed to aid the EVP in his/her daily tasks. As part of this committee, members will be aiding in maintaining relationships with our professor and alumni networks, as well as collaborating with other campus organizations through our club outreach programs. </p>
                            <a href="{% url 'careerex' %}" class="btn btn-select-plan btn-sm">Learn More</a>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSf91HQneSOXWyZ3YNKKbwXkXgch01xdfUwiqQGsI6T8SgISGQ/viewform" class="btn btn-select-plan btn-sm">Apply Now</a>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
{% endblock %}

