{% extends "header.html" %}
{% load staticfiles %}
{% block content %}
	<aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
		   	<li style="background-image: url({% static 'schedule_builder/images/slide_2.jpg' %});">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<!-- <video playsinline autoplay muted loop>
		   						WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button
		   						<source src="static/schedule_builder/images/Pride.mp4" type="video/webm">
		   					</video> -->
		   					<h2>Undergraduate Statistics Association</h2>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		  	</ul>
	  	</div>
	</aside>

	<div id="fh5co-pricing-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
					<h2>Committees</h2>
					<p>Besides hosting events, USA also offers opportunities for students to hone their skills as a member of one of its four committees. By joining a committee, students can get involved in the leadership of the club and gain practical experience in statistical research, event planning, or marketing. We encourage any interested students to apply at the beginning of each semester.</p>
				</div>
			</div>
			<div class="row">
				<div class="pricing">
					<div class="col-md-3 animate-box">
						<div class="price-box">
							<h3>Projects</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							<a href="{% url 'project' %}" class="btn btn-select-plan btn-sm">Learn More</a>
						</div>
					</div>

					<div class="col-md-3 animate-box">
						<div class="price-box">
							<h3>Web Development</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the</p>
							<a href="#" class="btn btn-select-plan btn-sm">Learn More</a>
						</div>
					</div>

					<div class="col-md-3 animate-box">
						<div class="price-box">
							<h3>Events</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							<a href="#" class="btn btn-select-plan btn-sm">Learn More</a>
						</div>
					</div>

					<div class="col-md-3 animate-box">
						<div class="price-box">
							<h3>Career Exploration</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the </p>
							<a href="#" class="btn btn-select-plan btn-sm">Learn More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

