{% extends "header.html" %}
{% load staticfiles %}
{% block content %}
	<aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
		   	<li style="background-image: url({% static 'schedule_builder/images/stars.jpg' %});">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<!-- <video playsinline autoplay muted loop>
		   						WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button
		   						<source src="static/schedule_builder/images/Pride.mp4" type="video/webm">
		   					</video> -->
		   					<h2>Statistics Undergraduate Student Association</h2>
                            <div>
                                <img src="{% static 'schedule_builder/images/icondata.png' %}" style="padding:5px; width:75px; height:75px; display:inline"></img>
                                <img src="{% static 'schedule_builder/images/iconwebdev.png' %}" style="padding:5px; width:75px; height:75px; display:inline"></img>
                                <img src="{% static 'schedule_builder/images/iconresearch.png' %}" style="padding:5px; width:75px; height:75px; display:inline"></img>
                                <img src="{% static 'schedule_builder/images/iconcareerexploration.png' %}" style="padding:5px; width:75px; height:75px; display:inline"></img>
                            </div>
                            <!--<a href="/careerex" class="btn btn-select-plan btn-sm" style="padding:10px 20px; background:#5bc0de; color:#fff">Apply Now!</a>-->  
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url({% static 'schedule_builder/images/black_white_aesthetic.jpg' %});">
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   				<h2>Statistics Undergraduate Student Association</h2>
                        <div>
                            <img src="{% static 'schedule_builder/images/icondata.png' %}" style="padding:5px; width:75px; height:75px; display:inline"></img>
                            <img src="{% static 'schedule_builder/images/iconwebdev.png' %}" style="padding:5px; width:75px; height:75px; display:inline"></img>
                            <img src="{% static 'schedule_builder/images/iconresearch.png' %}" style="padding:5px; width:75px; height:75px; display:inline"></img>
                            <img src="{% static 'schedule_builder/images/iconcareerexploration.png' %}" style="padding:5px; width:75px; height:75px; display:inline"></img>
                        </div>
                        <!--<a href="/careerex" class="btn btn-select-plan btn-sm" style="padding:10px 20px; background:#5bc0de; color:#fff">Apply Now!</a>-->
		   				</div>
		   			</div>
		   		</div>
		  	</ul>
	  	</div>
	</aside>

	<div id="fh5co-pricing-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
					<h2>Committees</h2>
					<p>Besides hosting events, USA also offers opportunities for students to hone their skills as a member of one of its four committees. By joining a committee, students can get involved in the leadership of the club and gain practical experience in statistical research, event planning, or marketing. We encourage any interested students to apply at the beginning of each semester.</p>
				</div>
			</div>
			<div class="row">
				<div class="pricing">
					<div class="col-md-6 animate-box">
						<div class="price-box">
							<h3>Projects</h3>
							<p>At the core of our club is our projects committee. We work in small teams, often consulting with companies and allowing them to make data-driven decisions. </p>
							<a href="{% url 'project' %}" class="btn btn-select-plan btn-sm">Learn More</a>
						</div>
					</div>

					<div class="col-md-6 animate-box">
						<div class="price-box">
							<h3>Web Development</h3>
							<p> Our web development committee develops and maintains our website, in addition to developing web applications for various uses.</p>
                            <a href="{% url 'webdev' %}" class="btn btn-select-plan btn-sm">Learn More</a>
						</div>
					</div>
				</div>
			</div>	
			<br>
			<div class="row">
				<div class="pricing">
					<div class="col-md-6 animate-box">
						<div class="price-box">
							<h3>Research and Publication</h3>
							<p>Research and publication affords students the opportunity to research and produce content on fields of their interest, under the guidance and support of other club members. </p>
                            <a href="{% url 'research' %}" class="btn btn-select-plan btn-sm">Learn More</a>
						</div>
					</div>

					<div class="col-md-6 animate-box">
						<div class="price-box">
							<h3>Career Exploration</h3>
							<p>Our career exploration committee serves to help guide our members through school and their career through a series of weekly talks and workshops given by our student advisors. </p>
                            <a href="{% url 'careerex' %}" class="btn btn-select-plan btn-sm">Learn More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

