{% extends "header.html" %}
{% block content %}
{% load staticfiles %}


	<div class="fh5co-team fh5co-light-grey-section">
		<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
						<h2>Faculty Advisors</h2>
						<p>Renowned Statistics Professors at the UC Berkeley Statistics Deparment act as faculty advisors to support and give our officers advice.</p>
					</div>
					<div class="col-md-4 fh5co-staff text-center">
						<img src="{% static 'schedule_builder/images/david_aldous.png' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
						<h3>David Aldous</h3>
						<h4>Evans 351</h4>
						<p>Professor David Aldous received his Ph.D. from Cambridge University and has worked at Berkeley since 1979. His research in probability has covered Markov chains, random networks, and stochastic coalescence. In addition, he teaches several upper division statistics courses and is a Fellow of the Royal Society and a foreign associate of the National Academy of Sciences.</p>
						<ul class="fh5co-social">
							<li><a href="#"><i class="icon-google"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-instagram"></i></a></li>
						</ul>
					</div>
					<div class="col-md-4 fh5co-staff text-center">
						<img src="{% static 'schedule_builder/images/joan_bruna.png' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
						<h3>Joan Bruna</h3>
						<h4>Evans 419</h4>
						<p>Assistant Professor Joan Bruna earned his Ph.D. in applied mathematics from École Polytechnique. His primary research interest is machine learning. He joined Berkeley in 2015 and previously worked for an image processing startup, the machine learning group at NYU, and Facebook AI Research.</p>
						<ul class="fh5co-social">
							<li><a href="#"><i class="icon-google"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-instagram"></i></a></li>
						</ul>
					</div>
					<div class="col-md-4 fh5co-staff text-center">
						<img src="{% static 'schedule_builder/images/a_g.png' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
						<h3>Adityanand Guntuboyina</h3>
						<h4>Evans 423</h4>
						<p>Assistant Professor Adityanand Guntuboyina recieved his Ph.D in statistics and has worked at Berkeley since 2012 after finishing his post-doc at the University of Pennsylvania. He is currently working on statistical problems involving convexity typfied by the estimation of convex sets and functions from various types of noisy measurements. </p>
						<ul class="fh5co-social">
							<li><a href="#"><i class="icon-google"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<br>
				<hr>
				<br>
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
						<h2>Executive Team</h2>
						<p>The Undergraduate Statistics Association is led by a group of statistics majors who have great passion to promote the major to all students in UC Berkeley. They come from different backgrounds and are interested in different areas within statistics.</p>
					</div>
					<div class="col-md-4 fh5co-staff text-center">
						<img src="{% static 'schedule_builder/images/sandra.png' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
						<h3>Sandra Herchen</h3>
						<h4>President</h4>
						<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
						<ul class="fh5co-social">
							<li><a href="#"><i class="icon-google"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-instagram"></i></a></li>
						</ul>
					</div>
					<div class="col-md-4 fh5co-staff text-center">
						<img src="{% static 'schedule_builder/images/oscar.png' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
						<h3>Oscar Syu</h3>
						<h4>External Vice President</h4>
						<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
						<ul class="fh5co-social">
							<li><a href="#"><i class="icon-google"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-instagram"></i></a></li>
						</ul>
					</div>
					<div class="col-md-4 fh5co-staff text-center">
						<img src="{% static 'schedule_builder/images/julie_chen.png' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
						<h3>Julie Chen</h3>
						<h4>Internal Vice President</h4>
						<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
						<ul class="fh5co-social">
							<li><a href="#"><i class="icon-google"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-4 fh5co-staff text-center">
						<img src="{% static 'schedule_builder/images/chin_chang.png' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
						<h3>Chin Chang</h3>
						<h4>Treasurer</h4>
						<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
						<ul class="fh5co-social">
							<li><a href="#"><i class="icon-google"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-instagram"></i></a></li>
						</ul>
					</div>
					<div class="col-md-4 fh5co-staff text-center">
						<img src="{% static 'schedule_builder/images/arun_ramamurthy.png' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
						<h3>Arun Ramamurthy</h3>
						<h4>Project Director</h4>
						<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
						<ul class="fh5co-social">
							<li><a href="#"><i class="icon-google"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-instagram"></i></a></li>
						</ul>
					</div>
					<div class="col-md-4 fh5co-staff text-center">
						<img src="{% static 'schedule_builder/images/d_chai.png' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
						<h3>Aaron Chai</h3>
						<h4>Web Development Director</h4>
						<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
						<ul class="fh5co-social">
							<li><a href="#"><i class="icon-google"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-4 fh5co-staff text-center">
						<img src="{% static 'schedule_builder/images/alex_tran.png' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
						<h3>Jessica Hu</h3>
						<h4>Events Director</h4>
						<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
						<ul class="fh5co-social">
							<li><a href="#"><i class="icon-google"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-instagram"></i></a></li>
						</ul>
					</div>
				</div>
                <div class="row">
					<div class="col-md-4 fh5co-staff text-center">
						<img src="{% static 'schedule_builder/images/alex_tran.png' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
						<h3>Marketing Person</h3>
						<h4>Marketing Director</h4>
						<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
						<ul class="fh5co-social">
							<li><a href="#"><i class="icon-google"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-instagram"></i></a></li>
						</ul>
					</div>
				</div>

		</div>
	</div>
	
    {% endblock %}
	
