
{% extends "header.html" %}
{% block content %}
{% load staticfiles %}



    <div class="fh5co-team fh5co-light-grey-section">
        <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                        <h2>Faculty Advisors</h2>
                        <p>Renowned Statistics Professors at the UC Berkeley Statistics Deparment act as faculty advisors to support and give our officers advice.</p>
                    </div>
                    <div class="col-md-4 fh5co-staff text-center">
                        <img src="{% static 'schedule_builder/images/david_aldous.png' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
                        <h3>David Aldous</h3>
                        <h4>Evans 351</h4>
                        <p>Professor David Aldous received his Ph.D. from Cambridge University and has worked at Berkeley since 1979. His research in probability has covered Markov chains, random networks, and stochastic coalescence. In addition, he teaches several upper division statistics courses and is a Fellow of the Royal Society and a foreign associate of the National Academy of Sciences.</p>

                        <ul class="fh5co-social">
                            <li><a href="mailto:aldous@stat.berkeley.edu"><i class="icon-envelope"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 fh5co-staff text-center">
                        <img src="{% static 'schedule_builder/images/joan_bruna.png' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
                        <h3>Joan Bruna</h3>
                        <h4>Evans 419</h4>
                        <p>Assistant Professor Joan Bruna earned his Ph.D. in applied mathematics from École Polytechnique. His primary research interest is machine learning. He joined Berkeley in 2015 and previously worked for an image processing startup, the machine learning group at NYU, and Facebook AI Research.</p>

                        <ul class="fh5co-social">
                            <li><a href="mailto:joan.bruna@berkeley.edu"><i class="icon-envelope"></i></a></li>
                        </ul>

                    </div>
                    <div class="col-md-4 fh5co-staff text-center">
                        <img src="{% static 'schedule_builder/images/a_g.png' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
                        <h3>Adityanand Guntuboyina</h3>
                        <h4>Evans 423</h4>
                        <p>Assistant Professor Adityanand Guntuboyina received his Ph.D in statistics and has worked at Berkeley since 2012 after finishing his post-doc at the University of Pennsylvania. He is currently working on statistical problems involving convexity typfied by the estimation of convex sets and functions from various types of noisy measurements. </p>

                        <ul class="fh5co-social">
                            <li><a href="mailto:aditya@stat.berkeley.edu"><i class="icon-envelope"></i></a></li>
                        </ul>

                    </div>
                </div>
                <br>
                <hr>
                <br>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                        <h2>Executive Team</h2>
                        <p>The Statistics Undergraduate Student Association is led by a group of statistics enthusiasts who have great passion for promote the statistics major to all students in UC Berkeley. They come from different backgrounds and are interested in different areas within statistics.</p>
                    </div>
                    <div class="col-md-4 fh5co-staff text-center">

                        <img src="{% static 'schedule_builder/images/fall2017/arun_ramamurthy.jpg' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive center-croped" height="360" width="360">
                        <h3>Arun Ramamurthy</h3>
                        <h4>President</h4>
                        <p>An R-enthusiast, Arun uses his Statistics education to tease out key trends and system characteristics in the form of pellucid data visualizations. Originally from Maryland, he enjoys guitar and film in his free time.</p>

          <ul class="fh5co-social">
                            <li><a href="mailto:arun.ramamurthy@berkeley.edu"><i class="icon-envelope"></i></a></li>
                        </ul>

                    </div>
                    <div class="col-md-4 fh5co-staff text-center">
                            <img src="{% static 'schedule_builder/images/adish.jpg' %}" alt="Dishwasher!" class='img-responsive'>


                        <h3>Adish Jain</h3>
                        <h4>External Vice President</h4>
                        <p>Adish’s interests lie in the realm of data, whether that be in its aggregation or in its analysis. He finds the quickly growing field of Data Science, the intersection of his two majors, especially fascinating. In his free time, Adish loves playing with his puppy and playing basketball!                           </p>

      <ul class="fh5co-social">
                            <li><a href="mailto:adish.jain@berkeley.edu"><i class="icon-envelope"></i></a></li>
                        </ul>

                    </div>
                    <div class="col-md-4 fh5co-staff text-center">
                        <img src="{% static 'schedule_builder/images/isabelle.jpg' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
                        <h3>Isabelle Townley-Smith</h3>
                        <h4>Internal Vice President</h4>
                        <p> Our Internal Vice President keeps our club and the statistics community on campus updated about club events, and deals with general internal affairs. Isabelle has been a part of the Events and Career Exploration committees before becoming IVP.
                        </p>
<ul class="fh5co-social">

                            <li><a href="mailto:itownley@berkeley.edu"><i class="icon-envelope"></i></a></li>
                        </ul>

                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4 fh5co-staff text-center">

                        <img src="{% static 'schedule_builder/images/oscar.png' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
                        <h3>Oscar Syu</h3>
                        <h4>Financial Vice President</h4>
                        <p>While Oscar is an intended business major, he is also interested in data science applications of statistics and is part of the Data 8 staff. In his free time, he enjoys watching basketball and is the current mini golf champion of the SUSA executive team.</p>

            <ul class="fh5co-social">
                            <li><a href="mailto:oscar.syu@berkeley.edu"><i class="icon-envelope"></i></a></li>
                        </ul>

                    </div>
                    <div class="col-md-4 fh5co-staff text-center">
                        <img src="{% static 'schedule_builder/images/fall2017/winneluo.jpg' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
                        <h3>Winne Luo</h3>
                        <h4>Edit Title</h4>
                        <p>Edit Bio</p>
            <ul class="fh5co-social">
                            <li><a href="mailto:edit_email@berkeley.edu"><i class="icon-envelope"></i></a></li>
                        </ul>

                    </div>
                    <div class="col-md-4 fh5co-staff text-center">
                        <img src="{% static 'schedule_builder/images/fall2017/patrick_chao.jpg' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
                        <h3>Patrick Chao</h3>
                        <h4>Data Consulting Director</h4>
                        <p>Patrick is an avid learner in math and machine learning. He hopes to conquer the world with non-applicable research one day and spend the world's wealth on infinite dogs and ice cream. He also enjoys long strolls by the water and watching sunsets.</p>
            <ul class="fh5co-social">

                            <li><a href="mailto:EDIT_EMAIL@berkeley.edu"><i class="icon-envelope"></i></a></li>
                        </ul>

                    </div>

                </div>

                <br>
                <div class="row">
                    <div class="col-md-4 fh5co-staff text-center">
                        <img src="{% static 'schedule_builder/images/fall2017/zhongling_jiang.jpg' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
                        <h3>Zhongling Jiang</h3>
                        <h4>Data Consulting Director</h4>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                        <ul class="fh5co-social">
                            <li><a href="mailto:arun.ramamurthy@berkeley.edu"><i class="icon-envelope"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 fh5co-staff text-center">
                        <img src="{% static 'schedule_builder/images/fall2017/brian_yao.jpg' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
                        <h3>Brian Yao</h3>
                        <h4>Career Exploration Director</h4>
                        <p>From nearby Danville, California, Brian studies Statistics because of its immense applicability to real-world situations. In particular, he became a huge poker fan after learning about probability theory-- the game joined following sports and watching Game of Thrones as his favorite past-times.</p>
                        <ul class="fh5co-social">
                            <li><a href="mailto:j.hu@berkeley.edu"><i class="icon-envelope"></i></a></li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>


    {% endblock %}
