{% extends "header.html" %}
{% block content %}
{% load staticfiles %}

    <div class="fh5co-about">
        <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
            <h2>Stat 157</h2>
            <p>The topics to be covered each semester that the course may be offered will be
      announced by the middle of the preceding semester; see departmental bulletins. Recent
      topics include: Bayesian statistics, statistics and finance, random matrix theory,
      high-dimensional statistics.</p>
        </div>
    </div>

    <div class="fh5co-team">
        <div class="container">
            <table class = "table table-hover fh5co-light-grey-section">
                <thead>
                    <tr>
                        <th><strong>Instructor</strong></th>
                        <th><strong>Type</strong></th>
                        <th><strong>Semester</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a>Nolan</a></td>
                        <td><a>Midterm 1</a></td>
                        <td><a>Fall 2016</a></td>
                    </tr>
                    <tr>
                        <td><a>Nolan</a></td>
                        <td><a>Midterm 2</a></td>
                        <td><a>Fall 2016</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {% endblock %}
