{% extends "header.html" %}
{% block content %}
{% load staticfiles %}


    <div class="fh5co-about">
        <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
            <h2>Stat 135</h2>
            <p>A comprehensive survey course in statistical theory and methodology. Topics include descriptive statistics, maximum likelihood estimation, non-parametric methods, introduction to optimality, goodness-of-fit tests, analysis of variance, bootstrap and computer-intensive methods and least squares estimation. The laboratory includes computer-based data-analytic applications to science and engineering.</p>
        </div>
    </div>

    <div class="fh5co-team">
        <div class="container">
            <table class = "table table-hover fh5co-light-grey-section">
                <thead>
                    <tr>
                        <th><strong>Instructor</strong></th>
                        <th><strong>Type</strong></th>
                        <th><strong>Semester</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a>Pitters</a></td>
                        <td><a>Midterm 1</a></td>
                        <td><a>Fall 2016</a></td>
                    </tr>
                    <tr>
                        <td><a>Pitters</a></td>
                        <td><a>Midterm 2</a></td>
                        <td><a>Fall 2016</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {% endblock %}

