{% extends "header.html" %}
{% block content %}
{% load staticfiles %}

    <aside id="fh5co-hero" class="js-fullheight">
        <div class="flexslider js-fullheight">
            <ul class="slides">
            <li style="background-image: url({% static 'usa_website/images/stars.jpg' %});">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
                        <div class="slider-text-inner">
                            <!-- <video playsinline autoplay muted loop>
                                WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button
                                <source src="static/usa_website/images/Pride.mp4" type="video/webm">
                            </video> -->
                            <h2>Who Are We?</h2>
                            <style>
                            h3 {
                                color: white;
                            }
                            </style>
                            <h3>No Idea</h3>
                        </div>
                    </div>
                </div>
            </li>
            </ul>
        </div>
    </aside>




    {% endblock %}

    <link rel="stylesheet" href="timeline0.css">
        <!-- STEPS -->
        <section id="Steps" class="steps-section">

        <h2 class="steps-header">
            SUSA Timeline
        </h2>

        <div class="steps-timeline">

            <div class="steps-one">
            <img class="steps-img" src="http://placehold.it/50/3498DB/FFFFFF" alt="" />
            <h3 class="steps-name">
                2009: The Beginning of SUSA
            </h3>
            <p class="steps-description">
                SUSA, originally called USA, was established by five students in 2009.
                </p>
            </div>

            <div class="steps-two">
                <img class="steps-img" src="http://placehold.it/50/3498DB/FFFFFF" alt="" />
                <h3 class="steps-name">
                    2010 - 2014: The First Events
                </h3>
                <p class="steps-description">
                    Hosted first statistic major hangout in 2010 and established committees in 2014.
                </p>
            </div>

            <div class="steps-three">
            <img class="steps-img" src="http://placehold.it/50/3498DB/FFFFFF" alt="" />
            <h3 class="steps-name">
              2014: Structural Changes with Club Growth
            </h3>
            <p class="steps-description">
               When the club first started, there was just one executive committee. It hosted sessions on how to choose statistics classes for future semesters and also hosted movie nights on "math movies" such as Moneyball and Beautiful Mind. The club was first started to facilitate more social events for statistics students. The club started with three committees: Events, Project, and Marketing. Afterwards, a competition committee (Kaggle) was added.
            </p>
            </div>

          <div class="steps-six">
            <img class="steps-img" src="http://placehold.it/50/3498DB/FFFFFF" alt="" />
            <h3 class="steps-name">
              2015: Hosted more Academic and Networking Events
            </h3>
            <p class="steps-description">
              Hosted faculty events, invited professors as club advisors, and hosted career talks.
            </p>
          </div>

          <div class="steps-four">
            <img class="steps-img" src="http://placehold.it/50/3498DB/FFFFFF" alt="" />
            <h3 class="steps-name">
              2017: Club Name Change
            </h3>
            <p class="steps-description">
              Originally called USA (Undergraduate Statistics Association), the club then changed its name to SUSA (Statistics Undergraduate Students Association).
            </p>
          </div>

          <div class="steps-five">
            <img class="steps-img" src="http://placehold.it/50/3498DB/FFFFFF" alt="" />
            <h3 class="steps-name">
              2018 (Now)
            </h3>
            <p class="steps-description">
              From five students starting SUSA to having about 10 committed members in 2013, we had 100 total members in Fall 2017, and we now have 160 in Fall 2018.
            </p>
          </div>



        </div><!-- /.steps-timeline -->

    </section>

    <!DOCTYPE html>
    <html>
    <head>
    <title>About US</title>
    <style type="text/css">
    #slider {
      overflow: hidden;
    }
    #slider figure {
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      animation: 20s slider infinite;
    }
    #slider figure img {
      float: left;
      width: 20%;
    }
    @keyframes slider {
      0% {
        left: 0;
      }
      20% {
        left:0;
      }
      25% {
        left: -100%;
      }
      45% {left: -100%;
      }
      50% {
        left: -200%;
      }
      70% {left: -200%;
      }
      75% {
        left: -300%;
      }
      95% {left: -300%;
      }
      100% {
        left: -400%;
      }
    }
    </style>
    </head>

    <body>
      <h2>About Us</h2>
      <div id = "slider">
        <figure>
          <img src = "../../static/usa_website/images/timeline/1.jpg">
          <img src = "../../static/usa_website/images/timeline/2.jpg">
          <img src = "../../static/usa_website/images/timeline/3.jpg">
          <img src = "../../static/usa_website/images/timeline/4.jpg">
          <img src = "../../static/usa_website/images/timeline/1.jpg">

        </figure>
      </div>


    </body>
    </html>
