{% extends "header.html" %}
{% block content %}
{% load staticfiles %}
<style>
.AttendanceContainer{
  margin: 10%;
  margin-top:5%;
}

input{
  display: inline;
  margin: 0 5px 0 5px;
  padding:2px 2px 2px 2px;
}
label{
  size: 15px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
}
button{
  background: #268BD2;
  color:white;
  padding: 3px 7px;
  border-radius: 30px;
}

</style>


<head>
  <title>Attendance</title>
</head>
<body>
<div class = "AttendanceContainer">
    <h1 style="text-align:center;">Attendance</h1>
    <h2>The Point System</h2>
    <p>
      This year, SUSA will be debuting our new Attendance System! Throughout the semester, there will be lots of points available to all SUSA members. The threshold to reach by the end of the semester will be 100 points - this will be taken into consideration when we consider returning member applications at the end of the semester. There will likely be other events and opportunities to earn extra points throughout the semester, but the minimum threshold will not change. Members can earn points by coming to SUSA related activities and events ranging from workshops held by our Education committee to tech talks hosted by our EVP committee and socials held by our IVP committee. In addition to these events, your committee director will be allotted 25 "Director's Discretion" points to award for comittee socials or other activities. Be sure to ask your director how they will distribute these points!

    </p>

    <p style="font-size:16pt">Check your points below!<sup>*</s2wup></p>

    <form method="POST">
      {% csrf_token %}
      {{ form }}
      <button type="submit" style="display:inline;">Submit</button>
    </form>
    <br>
  <h3 class = "summary">
    {{ text }}
  </h3>

<!-- Please see AttendanceView in views.py to understand what is going on here -->
<div style="overflow-x:auto;">
  <table>
    <tr>
      {% for l in head_list %}
        <th>{{l}}</th>
        {% endfor %}
      </tr>
      <tr>
        {% for l in det_list %}
        <td>{{l}}</td>
        {% endfor %}
      </tr>
    </table>
  </div>
  <br>
  <i>  <sup>*</sup>Please Note that if you have not come to an event yet, we do not have your SID in our database and you will be unable to use this tool </i>
  <br></br>
    <h2>Point Values and Distribution</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
              <b style ="font-size:16pt;">Academic Events</b>
              <ul>
                <li>Faculty Dinner - 15 points</li>
                <li>5 Faculty Coffee Chats - 10 points each</li>
                <li>3 Company Info/Sessions - 10 points each</li>
                <li>7 Technical Workshops - 10 points each</li>
                <li>1 Alumni Talk - 10 points</li>
                <li>Participation in SUSA Mentors - 5 per hour of providing/receiving tutoring</li>
                <li>Research Symposium - 10 points</li>
              </ul>
            </div>
            <div class="col-md-4">
              <b style ="font-size:16pt;">Social Events</b>
              <ul>
                <li>6 Club-wide Socials - 20 points each</li>
                  <ul>
                    <li>i.e. Scavenger Hunt,  Bowling, Hiking, Movie Nights, etc.</li>
                  </ul>
                <li>10 Study Hours - 5 per hour</li>
                <li>2 Intro Events - 5 points each</li>
                  <ul>
                    <li>i.e. Boba / Dinner</li>
                  </ul>
                <li>6 Random Pair Hangouts - 10 points each</li>
              </ul>
            </div>
            <div class="col-md-4">
              <b style ="font-size:16pt;">Other</b>
              <ul>
                <li>Director’s Discretion - 25 pts total</li>
                <li>Tabling/Flyering - 10 points per hour</li>
                <li>Miscellaneous (TBD - check back for updates!)</li>
              </ul>
            </div>
          </div>
        </div>
</div>
</body>
{% endblock %}
