
{% extends "header.html" %}
{% block content %}
{% load staticfiles %}



    <div class="container">

    </div>
    <aside id="fh5co-hero" class="js-fullheight">
        <div class="flexslider js-fullheight">
            <ul class="slides">
            <li style="background-image: url({% static 'usa_website/images/adish_on_stump.jpg' %});">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
                        <div class="slider-text-inner">
                            <h2>Career Exploration Committee</h2>
                            <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSf91HQneSOXWyZ3YNKKbwXkXgch01xdfUwiqQGsI6T8SgISGQ/viewform" class="btn btn-lg">Apply</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url({% static 'usa_website/images/confused_alex.jpg' %});">
                <div class="container">
                    <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
                        <div class="slider-text-inner">
                            <h2>Career Exploration Committee</h2>
                            <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSf91HQneSOXWyZ3YNKKbwXkXgch01xdfUwiqQGsI6T8SgISGQ/viewform" class="btn btn-lg">Apply</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url({% static 'usa_website/images/jessica_huang_talk.jpg' %});">
                <div class="container">
                    <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
                        <div class="slider-text-inner">
                            <h2>Career Exploration Committee</h2>
                            <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSf91HQneSOXWyZ3YNKKbwXkXgch01xdfUwiqQGsI6T8SgISGQ/viewform" class="btn btn-lg">Apply</a></p>

                        </div>
                    </div>
                </div>
            </li>
            </ul>
        </div>
    </aside>

    <div id="fh5co-blog-section" class="fh5co-light-grey-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                    <h2>Career Exploration</h2>
                    <p>The Career Exploration Committee is a great place to start for students who are just beginning their careers in Statistics! Members get access to exclusive weekly talks, statistical and professional workshops, and career info sessions, along with private office hours with experienced advisors and the continuous academic and social support SUSA offers. Students will also use Kaggle datasets to learn fundamentals of data and machine learning, successfully completing a collaborative Kaggle competition towards the end of the semester.</p>
                </div>
            </div>
                <!--
                <div class="col-md-12 text-center">
                    <p><a href="#" class="btn btn-primary with-arrow">View More Posts <i class="icon-arrow-right"></i></a></p>
                </div>
                -->
            </div>
        </div>
    </div>

    {% endblock %}


