
{% extends "header.html" %}
{% block content %}
{% load staticfiles %}



    <div class="fh5co-team fh5co-light-grey-section">
        <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                        <h2>Faculty Advisors</h2>
                        <p>Renowned Statistics Professors at the UC Berkeley Statistics Deparment act as faculty advisors to support and give our officers advice.</p>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-4 col-sm-offset-4 fh5co-staff text-center">
                        <img src="{% static 'usa_website/images/a_g.png' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
                        <h3>Adityanand Guntuboyina</h3>
                        <h4>Evans 423</h4>
                        <p>
                          Assistant Professor Adityanand Guntuboyina received his Ph.D in statistics and has worked at Berkeley since 2012 after finishing his post-doc at the University of Pennsylvania. He is currently working on statistical problems involving convexity typfied by the estimation of convex sets and functions from various types of noisy measurements.
                        </p>

                        <ul class="fh5co-social">
                            <li><a href="mailto:aditya@stat.berkeley.edu"><i class="icon-envelope"></i></a></li>
                        </ul>

                    </div>
                </div>
                <br>
                <hr>
                <br>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                        <h2>Executive Team</h2>
                        <p>
                          The Statistics Undergraduate Student Association is led by a group of statistics enthusiasts who have great passion for promote the statistics major to all students in UC Berkeley. They come from different backgrounds and are interested in different areas within statistics.
                        </p>
                    </div>
                    <div class="col-md-4 fh5co-staff text-center">
                            <img src="{% static 'usa_website/images/people/adish.png' %}" alt="Adish" class='img-responsive'>


                        <h3>Adish Jain</h3>
                        <h4>President</h4>
                        <p>
                          Adish’s interests lie in the realm of data, whether that be in its aggregation or in its analysis. He finds the quickly growing field of Data Science, the intersection of his two majors, especially fascinating. In his free time, Adish loves playing with his puppy and playing basketball!
                        </p>

                        <ul class="fh5co-social">
                            <li><a href="mailto:adish.jain@berkeley.edu"><i class="icon-envelope"></i></a></li>
                        </ul>

                    </div>
                    <div class="col-md-4 fh5co-staff text-center">

                        <img src="{% static 'usa_website/images/spring2018/isaac.jpg' %}" alt="Isaac" class="img-responsive">
                        <h3>Isaac Pariser</h3>
                        <h4>External Vice President</h4>
                        <p>
                          A jack of all trades, Isaac enjoys finance, statistics, sports science, politics, and philosophy. He loves learning and is excited to work with a diverse group of students and projects in the Research and Publication committee.
                        </p>
                        <ul class="fh5co-social">
                            <li><a href="mailto:ipariser@berkeley.edu"><i class="icon-envelope"></i></a></li>
                        </ul>

                    </div>
                    <div class="col-md-4 fh5co-staff text-center">
                        <img src="{% static 'usa_website/images/susafinallogosquare.png' %}" alt="SUSA" class="img-responsive">
                        <h3>Mindy Dai</h3>
                        <h4>Co-Internal Vice President</h4>
                        <p>
                          Mindy is studying statistics with a specific interest in biostatistics. She is also interested in survey methodology, data visualization, and the intersection of public policy and statistics. In her free time, she enjoys reading, taking long walks, and sleeping way too much.
                        </p>
                        <ul class="fh5co-social">
                            <li><a href="mailto:mdai2@berkeley.edu"><i class="icon-envelope"></i></a></li>
                        </ul>

                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4 fh5co-staff text-center">
                        <img src="{% static 'usa_website/images/susafinallogosquare.png' %}" alt="SUSA" class="img-responsive">
                        <h3>Peter Wang</h3>
                        <h4>Co-Internal Vice President</h4>
                        <p>

                        </p>
                        <ul class="fh5co-social">
                            <li><a href="mailto:p.w.wang@berkeley.edu"><i class="icon-envelope"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 fh5co-staff text-center">
                        <img src="{% static 'usa_website/images/susafinallogosquare.png' %}" alt="SUSA" class="img-responsive">
                        <h3>Hannah Kim</h3>
                        <h4>Financial Vice President</h4>
                        <p>
                          Hannah is a Business Administration and Statistics double major and is interested in the intersections of corporate strategy, finance, and technology. She is constantly looking for new opportunities to learn and grow in the realms of business and data science. Her other interests include music, swimming, and design!
                        </p>
                        <ul class="fh5co-social">
                            <li><a href="mailto:hnnhkim@berkeley.edu"><i class="icon-envelope"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 fh5co-staff text-center">
                        <img src="{% static 'usa_website/images/susafinallogosquare.png' %}" alt="SUSA" class="img-responsive">
                        <h3>Elliot Stahnke</h3>
                        <h4>Data Consulting Director</h4>
                        <p>
                          Elliot is a dessert lover with accompanying interests in mathematics, finance, and theoretical computer science. In his free time, he enjoys language learning, fencing, and finding new foods to satisfy his sweet tooth.
                        </p>
                        <ul class="fh5co-social">
                            <li><a href="mailto:elliot.stahnke@berkeley.edu"><i class="icon-envelope"></i></a></li>
                        </ul>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4 fh5co-staff text-center">
                        <img src="{% static 'usa_website/images/people/junseo_square.png' %}" alt="junseo" class="img-responsive">
                        <h3>Junseo Park</h3>
                        <h4>Data Consulting Director</h4>
                        <p>
                          Junseo is an avid data science enthusiast who loves exploring and visualizing fresh new datasets. He is on a lifelong quest to decide whether he prefers the beach or the mountains.
                        </p>
                        <ul class="fh5co-social">
                            <li><a href="mailto:junseopark@berkeley.edu"><i class="icon-envelope"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 fh5co-staff text-center">
                        <img src="{% static 'usa_website/images/susafinallogosquare.png' %}" alt="SUSA" class="img-responsive">
                        <h3>Kana Mishra</h3>
                        <h4>Data Consulting Director</h4>
                        <p>

                        </p>
                        <ul class="fh5co-social">
                            <li><a href="mailto:kana@berkeley.edu"><i class="icon-envelope"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 fh5co-staff text-center">
                        <img src="{% static 'usa_website/images/susafinallogosquare.png' %}" alt="SUSA" class="img-responsive">
                        <h3>Suhas Rao</h3>
                        <h4>Data Consulting Director</h4>
                        <p>

                        </p>
                        <ul class="fh5co-social">
                            <li><a href="mailto:suhasr@berkeley.edu"><i class="icon-envelope"></i></a></li>
                        </ul>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4 fh5co-staff text-center">

                        <img src="{% static 'usa_website/images/fall2017/oscar.jpg' %}" alt="Oscar" class="img-responsive">
                        <h3>Oscar Syu</h3>
                        <h4>Research & Publications Editor-in-Chief</h4>
                        <p>
                          Oscar is a data science and economics double major with an interest in the implications of data and technology on business, world development, and governance.  He is part of Data 8 staff and in his free time, enjoys bricking open 3 pointers and trying new AC Transit bus lines to go to random places.  In addition, he is the 9th best bowler and the undisputed mini-golf champion of the SUSA executive team.
                        </p>

                        <ul class="fh5co-social">
                            <li><a href="mailto:oscar.syu@berkeley.edu"><i class="icon-envelope"></i></a></li>
                        </ul>

                    </div>
                    <div class="col-md-4 fh5co-staff text-center">
                        <img src="{% static 'usa_website/images/susafinallogosquare.png' %}" alt="SUSA" class="img-responsive">
                        <h3>Rick Yang</h3>
                        <h4>Research & Publications Director</h4>
                        <p>
                          Rick is a statistics major with an interest in data science and industrial engineering. Sherlock, Black Mirror, and Rick & Morty are shows he enjoys analyzing and discussing in-depth. He has extensive modeling experience and likes poker, skiing, and League of Legends.
                        </p>
                        <ul class="fh5co-social">
                            <li><a href="mailto:rickyang@berkeley.edu"><i class="icon-envelope"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 fh5co-staff text-center">
                        <img src="{% static 'usa_website/images/susafinallogosquare.png' %}" alt="SUSA" class="img-responsive">
                        <h3>Caroline Chen</h3>
                        <h4>Research & Publications Director</h4>
                        <p>
                          Caroline is a second year double majoring in statistics and data science. She is interested specifically in the role of numerical analyses in making business decisions, and is also involved with projects for consulting and psychology. In her free time, she enjoys playing music, creating monstrosities in Photoshop, and playing with her puppies.
                        </p>
                        <ul class="fh5co-social">
                            <li><a href="mailto:carolinejchen@berkeley.edu"><i class="icon-envelope"></i></a></li>
                        </ul>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4 fh5co-staff text-center">
                        <img src="{% static 'usa_website/images/fall2017/patrick_chao.jpg' %}" alt="Patrick" class="img-responsive">
                        <h3>Patrick Chao</h3>
                        <h4>Education Director</h4>
                        <p>
                          Patrick is an avid learner in math and machine learning. He hopes to conquer the world with non-applicable research one day and spend the world's wealth on infinite dogs and ice cream. He also enjoys long strolls by the water and watching sunsets.
                        </p>
                        <ul class="fh5co-social">
                            <li><a href="mailto:prc@berkeley.edu"><i class="icon-envelope"></i></a></li>
                        </ul>

                    </div>
                    <div class="col-md-4 fh5co-staff text-center">
                        <img src="{% static 'usa_website/images/fall2017/isabelle.jpg' %}" alt="Patrick" class="img-responsive">
                        <h3>Isabelle Townley-Smith</h3>
                        <h4>Education Director</h4>
                        <p>
                          Isabelle has been a part of the Events and Career Exploration committees as well as being IVP before becoming an education committee director.
                        </p>
                        <ul class="fh5co-social">
                            <li><a href="mailto:itownley@berkeley.edu"><i class="icon-envelope"></i></a></li>
                        </ul>

                    </div>
                    <div class="col-md-4 fh5co-staff text-center">
                        <img src="{% static 'usa_website/images/susafinallogosquare.png' %}" alt="SUSA" class="img-responsive">
                        <h3>Fahad Paryani</h3>
                        <h4>Career Exploration Director</h4>
                        <p>
                          Fahad is an applied math major who is interested in the intersection between biology, data science, and math. He is involved in a variety of research projects applying statistical models to biological system and envisions working in healthcare. Outside of school, he enjoys playing basketball, making fire playlist, and exploring Berkeley.
                        </p>
                        <ul class="fh5co-social">
                            <li><a href="mailto:paryanifahad@berkeley.edu"><i class="icon-envelope"></i></a></li>
                        </ul>
                    </div>

                </div>
                <br>
                <div class="row">

                    <div class="col-md-4 fh5co-staff text-center">
                        <img src="{% static 'usa_website/images/susafinallogosquare.png' %}" alt="SUSA" class="img-responsive">
                        <h3>Abhinav Bhaskar</h3>
                        <h4>Web Development Director</h4>
                        <p>
                          Abhinav is an Applied Math major with a passion for data visualizations and web applications. He was previously a SUSA data consultant for two semesters, but has since transitioned into the Web Dev committee. When he is not redesigning the SUSA website, you can find him working on projects to help him master different front-end technologies such as React and D3, applying for internships, or watching food videos on youtube.
                        </p>
                        <ul class="fh5co-social">
                            <li><a href="mailto:abhaskar@berkeley.edu"><i class="icon-envelope"></i></a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 fh5co-staff text-center">
                        <img src="{% static 'usa_website/images/spring2018/anthony.jpg' %}" alt="Anthony" class="img-responsive">
                        <h3>Anthony Yu</h3>
                        <h4>Web Development Director</h4>
                        <p>
                          Anthony is an aspiring computer scientist eager to apply data to produce new solutions. He continues to learn new technologies and the applicability of statistics and data to keep up with the rapid technological development. His other interests include basketball, chess, and climbing the Clash Royale ladder.
                        </p>
                        <ul class="fh5co-social">
                            <li><a href="mailto:anthonyhsyu@berkeley.edu"><i class="icon-envelope"></i></a></li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>


    {% endblock %}
