
{% extends "header.html" %}
{% block content %}
{% load staticfiles %}



    <div class="container">

    </div>
    <aside id="fh5co-hero" class="js-fullheight">
        <div class="flexslider js-fullheight">
            <ul class="slides">
            <li style="background-image: url({% static 'usa_website/images/research.jpg' %});">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
                        <div class="slider-text-inner">
                            <h2>Research and Publication Committee</h2>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdR6ScJWbciTNy5fFj1HgPN8EJVTkY_PSfmI6lYMluhyzLdAg/viewform" class="btn btn-lg" target="_blank">Apply</a>
                        </div>
                    </div>
                </div>
            </li>

            </ul>
        </div>
    </aside>

    <div id="fh5co-blog-section" class="fh5co-light-grey-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                    <h2>Research and Publication</h2>
                    <p>The Research and Publication Committee gives driven students the opportunity to pursue individual research projects or writing pieces on topics of personal interest while backed by readily available individual guidance and a professional medium of publication. Articles are published on <a href="{% url 'blog' %}">The University Statistics Review</a>, our online journal.</p>
                </div>
            </div>
                <!--
                <div class="col-md-12 text-center">
                    <p><a href="#" class="btn btn-primary with-arrow">View More Posts <i class="icon-arrow-right"></i></a></p>
                </div>
                -->
            </div>
        </div>
    </div>

    {% endblock %}


