{% extends "header.html" %}
{% block content %}
{% load staticfiles %}

    <div class="fh5co-about">
        <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
            <h2>Stat 151B</h2>
            <p>A coordinated treatment of linear and generalized linear models and their application. Linear regression, analysis of variance and covariance, random effects, design and analysis of experiments, quality improvement, log-linear models for discrete multivariate data, model selection, robustness, graphical techniques, productive use of computers, in-depth case studies.</p>
        </div>
    </div>

    <div class="fh5co-team">
        <div class="container">
            <table class = "table table-hover fh5co-light-grey-section">
                <thead>
                    <tr>
                        <th><strong>Instructor</strong></th>
                        <th><strong>Type</strong></th>
                        <th><strong>Semester</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a>Nolan</a></td>
                        <td><a>Midterm 1</a></td>
                        <td><a>Fall 2016</a></td>
                    </tr>
                    <tr>
                        <td><a>Nolan</a></td>
                        <td><a>Midterm 2</a></td>
                        <td><a>Fall 2016</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {% endblock %}
