{% extends "header.html" %}
{% block content %}
{% load staticfiles %}

    <div class="fh5co-about">
        <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
            <h2>Stat 153</h2>
            <p>An introduction to time series analysis in the time domain and frequency domain.
      Topics will include: Stationarity, autocorrelation functions, autoregressive moving average models,
      partial autocorrelation functions, forecasting, seasonal ARIMA models, power spectra, discrete Fourier
      transform, parametric spectral estimation, nonparametric spectral estimation.</p>
        </div>
    </div>

    <div class="fh5co-team">
        <div class="container">
            <table class = "table table-hover fh5co-light-grey-section">
                <thead>
                    <tr>
                        <th><strong>Instructor</strong></th>
                        <th><strong>Type</strong></th>
                        <th><strong>Semester</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a>Nolan</a></td>
                        <td><a>Midterm 1</a></td>
                        <td><a>Fall 2016</a></td>
                    </tr>
                    <tr>
                        <td><a>Nolan</a></td>
                        <td><a>Midterm 2</a></td>
                        <td><a>Fall 2016</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {% endblock %}
