{% extends "header.html" %}
{% block content %}
{% load staticfiles %}

    <div class="fh5co-about">
        <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
            <h2>Stat 151A</h2>
            <p>Linear modeling is the most important tool to solve regression problems where the focus is on
      understanding the relatioship between a response variable and a bunch of explanatory variables.
      These problems arise in a very diverse set of applications. In addition to being practically invaluable,
      linear models also have a rich and beautiful mathematical theory. The main goal of this class is to understand
      this theory and to learn how to do applied regression analysis via linear models. I will alsospend some
      time on linear methods for dimension reduction such as principal component analysis</p>
        </div>
    </div>

    <div class="fh5co-team">
        <div class="container">
            <table class = "table table-hover fh5co-light-grey-section">
                <thead>
                    <tr>
                        <th><strong>Instructor</strong></th>
                        <th><strong>Type</strong></th>
                        <th><strong>Semester</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a>Nolan</a></td>
                        <td><a>Midterm 1</a></td>
                        <td><a>Fall 2016</a></td>
                    </tr>
                    <tr>
                        <td><a>Nolan</a></td>
                        <td><a>Midterm 2</a></td>
                        <td><a>Fall 2016</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {% endblock %}
