
{% extends "header.html" %}
{% block content %}
{% load staticfiles %}
 

<div class="container">

</div>
<div id="fh5co-pricing-section">
    <div class="container">
        {% if post %}
            <div class="row">
                <div class="pricing">
                    <div class="col-md-10 col-md-offset-1 animate-box">
                        <div class="price-box">
                            <h3>{{ post.title }}</h3>
                            <p style="color: #000">{{ post.posted }}</p>
                            <!--<p style="color: #000"> -->
                            {%autoescape off %}{{ post.body |linebreaks}} {% endautoescape %} <!--</p>-->
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
        <p>There are no posts.</p>
        {% endif %}
    </div>
</div>
<div class="col-md-12 text-center animate-box">
    <!--<p><a href="/project" class="btn btn-primary with-arrow">View Past Projects <i class="icon-arrow-right"></i></a></p>-->
</div>

{% endblock %}
