{% extends "webapp/webapp_header.html" %}
{% block content %}
{% load staticfiles %}

    <h1 class="webapp_header"> Population Modeling Demo </h1>
    <p class="webapp_text"> Plot the values every two years from 2015 to 2025 below! Click the toggle buttons
       when you're done to view the predicted
      <br>
      United Nations<super>*</super> model as well as our own time series and machine learning generated models!</p>
      <div class="webapp_container">
          <div class="dropdown">
            <button class="dropbtn">Choose a Population to Model!</button>
            <div class="dropdown-content">
              <a href="#argentina">Argentina</a>
              <a href="#benin">Benin</a>
              <a href="#china">China</a>
              <a href="#guatemala">Guatemala</a>
              <a href="#nigeria">Nigeria</a>
              <a href="#sudan">Sudan</a>
              <a href="#tunisia">Tunisia</a>
              <a href="#us">United States</a>
              <a href="#world">The Entire World</a>
            </div>
          </div>
        </div>
      <br>
      <div id="svgcontainer" align="center">
      </div>
          <br><br>
      <div class ="webapp_container">
          <button type="button" id="clear">Clear my answers</button>


          <button type="button" class= "orig" id="UNans" value="0">Click here for the <br>United Nations' Predictions</button>

          <button type="button" class= "orig" id="MLans" value="0">Click here for our <br>Machine Learning Predictions</button>

          <button type="button" class= "orig" id="TSans">Click here for our <br>Time Series Predictions</button>
          <!-- <div class="col-sm-9">
        </div> -->
      </div>
      <br>
        <div id= "footer"><super>*</super>United Nations projections were taken as the average increase over a 5 year period.</div>

        <br>

  {% endblock %}
