{% extends "blog/education/education_header.html" %}
{% block content %}
{% load staticfiles %}

<title> Introduction to getting started with git</title>
<h3>How To Build Your Own Personal Website </h3>
  <h4> Part 2: An Introduction To CSS</h4>
  <h4>
    <span style="color: #D5518D" id="author">By </span>
    <span style="color: #3E95D7" id="name">Abhinav Bhaskar</span>
  </h4>
  <br />

  <div class=Blog_Navigation>
    <ol>
      <li><a href="#Purpose">Purpose</a></li>
      <li><a href="#Introduction">Introduction: What is CSS?</a></li>
      <li><a href="#Setup">Step 1: Setting up a CSS file</a></li>
      <li><a href="#Create_Repo">Step 2: Creating a Repository on GitHub</a></li>
      <li><a href="#Create_Local">Step 3: Creating a Local Project Folder</a></li>
      <li><a href="#Github">Step 4: Working with GitHub</a></li>
      <li><a href="#Github_Pages">Step 5: Using GitHub Pages</a></li>
    </ol>
  </div>
  <br></br>

  <div id="Purpose">
    <h4>Purpose</h4>
      <p>
        Welcome back to Part 2 of our Web Development tutorials! This tutorial will take what you have learned in <a href=http://susa.berkeley.edu/blog/website-tutorial-1>Part 1</a>, and teach you how to add CSS, or Cascading Style Sheets, to your HTML document to make it look visually appealing.
      </p>
  </div>

  <div id="#Introduction">
    <h4>What is CSS?</h4>
      <p>
        As you may have noticed, the HTML webpages you created in Part 1 were very plain looking with not a lot going on. This is because we have not yet introduced CSS to our webpages. CSS, or Cascading Style Sheets, is used in tandem with any markup language such as HTML to describe to your web browser the visual layout of a page.
      </p>
      <p>
        There are 3 main types of CSS: external, internal and inline. The only real difference between these three is readability.
        <br>
        <b>External</b> CSS is perhaps the most common form of CSS. For the sake of readability and good practice, you should have one external CSS file that services your entire website. It is possible to have multiple external CSS files, but this makes finding the right container very hard and needlessly complex.
        <br>
        <b>Internal CSS</b> is CSS that is written at the top of each html document. This specifies styling for an individual web page. Typically you will only use this if one web page does not match the formatting of your external css file.
        <br>
        <b>Inline CSS</b> is a form of CSS that is actually written inside the html tag in your html file. This should be used sparingly due to the difficulty in maintaining web pages.
        <br>
        Examples of each type of CSS code are given below!
asdfasdfadsf
        Because it is the most common form, the rest of this tutorial will deal solely with external CSS. You may reference the above images to convert CSS between its external, internal and inline forms.
      </p>
  </div>
  <div id="Setup">
    <h4>Step 1: Setting up a CSS file</h4>
    <p>
      In this tutorial, we will
    </p>
  </div>
