<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    {% load staticfiles %}
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Statistics Undergraduate Student Association</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SUSA is here to provide Berkeley undergraduates interested in Statistics with resources and a statistics-driven community" />
    <meta name="keywords" content="statistics, data science, berkeley, SUSA, undergraduate" />
    <meta name="author" content="FreeHTML5.co" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Web app import D3 -->
    <script src="{% static 'usa_website/js/leaflet.js' %}" charset="utf-8"></script>

    <!-- Web app specific styling -->
    <style type="text/css">
		#details{
			display: inline;

			text-align: left;
		}
		#map{
			float: left;
			padding: 50px;
			margin-left: auto;
			margin-right: 20px;
				height: 600px;
				width: 500px;
		}
		#reset_map{
			margin: 10px;
		}
		h1{
			text-align: center;
			padding: 30px;
		}
		p{
			text-align: center;
		}
		.info {
				padding: 3px 4px;
				font: 12px/14px Arial, Helvetica, sans-serif;
				background: white;
				background: rgba(255,255,255,0.8);
				box-shadow: 0 0 15px rgba(0,0,0,0.2);
				border-radius: 5px;
		}
		.info h4 {
				margin: 0 0 5px;
				color: #4286f4;
				font: 12px/14px Arial, Helvetica, sans-serif;
				/*color: #777;*/
		}
		.legend {
				line-height: 18px;
				color: #555;
		}
		.legend i {
				width: 18px;
				height: 18px;
				float: left;
				margin-right: 8px;
				opacity: 0.7;
		}

    </style>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="{% static 'usa_website/images/favicon/favicon.ico' %}">
    <script src="{% static 'usa_website/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'usa_website/js/owl.carousel.min.js' %}"></script>
    <!-- Animate.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'usa_website/css/animate.css' %}" />
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" type="text/css" href="{% static 'usa_website/css/icomoon.css' %}" />
    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="{% static 'usa_website/css/bootstrap.css' %}" />
    <!-- Flexslider  -->
    <link rel="stylesheet" type="text/css" href="{% static 'usa_website/css/flexslider.css' %}" />
    <!-- Theme style  -->
    <link rel="stylesheet" type="text/css" href="{% static 'usa_website/css/style.css' %}" />
    <!-- Custom font style -->
    <link rel="stylesheet" type="text/css" href="{% static 'usa_website/css/fonts.css' %}" />

    <!-- Modernizr JS -->
    <script src="{% static 'usa_website/js/modernizr-2.6.2.min.js' %}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.js"></script>
    <script src="{% static 'usa_website/js/list_courses.js' %}"></script>

    <!-- scroll button -->
    <script src="{% static 'usa_website/js/scroll-down.js' %}"></script>
    <!-- smooth scroll -->

    <link rel="apple-touch-icon" sizes="57x57" href="../../static/usa_website/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../static/usa_website/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../static/usa_website/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../static/usa_website/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../static/usa_website/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../static/usa_website/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../static/usa_website/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../static/usa_website/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../static/usa_website/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../../static/usa_website/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../static/usa_website/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../../static/usa_website/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../static/usa_website/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="../../static/usa_website/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../../static/usa_website/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    </head>
    <body>


    <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>



    <div id="fh5co-page">
    <header id="fh5co-header" role="banner">
        <div class="container">
            <div class="header-inner">
                <!--<h1><a href="{% url 'home' %}">SUSA</a></h1>-->
                <a href="/"><img src="/static/usa_website/images/susafinallogowhite.png" style="height:90%;vertical-align:middle;margin-top:5px;"></img></a>
                <div class="fb-share-button" data-href="https://susa.berkeley.edu/" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fsusa.berkeley.edu%2F&amp;src=sdkpreparse">Share</a></div>
                <nav class="navbar" role="navigation">
                    <div class="container-fluid">
                        <!--
                        <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-bar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'usa_website/images/susafinallogo.png' %}" style="height:200%;vertical-align:left"></img></a>
                        <div class="fb-share-button" data-href="https://susa.berkeley.edu/" data-layout="button_count" data-size="small" data-mobile-iframe="true" style="padding-top:20px"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fsusa.berkeley.edu%2F&amp;src=sdkpreparse">Share</a></div>
                        </div>
                        <div class="collapse navbar-collapse" id="header-bar">
                        -->
                        <ul>
                            <li><a href="{% url 'blog' %}">Blog</a></li>
                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Committees<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'dataconsulting' %}">Data Consulting</a></li>
                                    <li><a href="{% url 'webdev' %}">Web Development</a></li>
                                    <li><a href="{% url 'research' %}">Research and Publication</a></li>
                                    <li><a href="{% url 'careerex' %}">Career Exploration</a></li>
                                </ul>
                            </li>
                            <li><a href="calendar">Calendar</a></li>
                            <li><a href="course-map">Course Map</a></li>
                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Courses<span class="caret"></span></a>
                                <ul class="dropdown-menu" style="overflow-x:hidden; overflow-y:auto; max-height:250px;">
                                    <li><a href="{% url 'stat133' %}">Stat 133</a></li>
                                    <li><a href="{% url 'stat134' %}">Stat 134</a></li>
                                    <li><a href="{% url 'stat135' %}">Stat 135</a></li>
                                    <li><a href="{% url 'stat150' %}">Stat 150</a></li>
                                    <li><a href="{% url 'stat151a' %}">Stat 151A</a></li>
                                    <li><a href="{% url 'stat151b' %}">Stat 151B</a></li>
                                    <li><a href="{% url 'stat152' %}">Stat 152</a></li>
                                    <li><a href="{% url 'stat153' %}">Stat 153</a></li>
                                    <li><a href="{% url 'stat154' %}">Stat 154</a></li>
                                    <li><a href="{% url 'stat155' %}">Stat 155</a></li>
                                    <li><a href="{% url 'stat157' %}">Stat 157</a></li>
                                    <li><a href="{% url 'stat158' %}">Stat 158</a></li>
                                    <li><a href="{% url 'stat159' %}">Stat 159</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'people' %}">People</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    {% block content %}





    {% endblock %}


    <footer id="fh5co-footer" role="contentinfo">

        <div class="container">
            <div class="col-md-12 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
                <h3>About Us</h3>
                <p>The Statistics Undergraduate Student Association is a premier organization at UC Berkeley that stimulates its members' interests in Statistics and facilitates their further development in a statistics career.</p>

                <p>You may contact us at <a href="mailto:contact@susa.berkeley.edu">contact@susa.berkeley.edu</a> or follow us on <a href="https://www.facebook.com/susaberkeley">Facebook!</a></p>
                <!--<p><a href="#" class="btn btn-primary btn-outline with-arrow btn-sm">Join Us <i class="icon-arrow-right"></i></a></p>-->
            <!-- <div class="col-md-6 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
                <h3>Our Services</h3>
                <ul class="float">
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Branding &amp; Identity</a></li>
                    <li><a href="#">Free HTML5</a></li>
                    <li><a href="#">HandCrafted Templates</a></li>
                </ul>
                <ul class="float">
                    <li><a href="#">Free Bootstrap Template</a></li>
                    <li><a href="#">Free HTML5 Template</a></li>
                    <li><a href="#">Free HTML5 &amp; CSS3 Template</a></li>
                    <li><a href="#">HandCrafted Templates</a></li>
                </ul>
            </div>
            <div class="col-md-12 col-md-push-0 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0 fh5co-social">
                <h3><a href="https://www.facebook.com/susaberkeley/">Follow us on Facebook!</a></h3>
            <ul class="fh5co-social">
            <div class="col-md-2 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
            </div>
            </ul>-->
            </div>
            </div>
            <div class="col-md-12 fh5co-copyright text-center">
                <p>Copyright © 2018 SUSA. All rights reserved. Design by Yitz Deng, Aaron Chai, David Nahm, Anthony Yu.</p>
                <p>We are a student group acting independently of the University of California. <span> We take full responsibility for our organization and this web site. </span></p>
    <a href="https://www.ocf.berkeley.edu">
            <img src="https://www.ocf.berkeley.edu/hosting-logos/ocfbadge_mini8darkglow.png"
                    alt="Hosted by the OCF" style="border: 0;" />
    </a>
            </div>

        </div>
    </footer>
    </div>



    <!-- jQuery -->
    <script src="{% static 'usa_website/js/jquery.min.js' %}"></script>
    <!-- jQuery Easing -->
    <script src="{% static 'usa_website/js/jquery.easing.1.3.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'usa_website/js/bootstrap.min.js' %}"></script>
    <!-- Waypoints -->
    <script src="{% static 'usa_website/js/jquery.waypoints.min.js' %}"></script>
    <!-- Flexslider -->
    <script src="{% static 'usa_website/js/jquery.flexslider-min.js' %}"></script>
    <!-- Stellar -->
    <script src="{% static 'usa_website/js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'usa_website/js/owl.carousel.min.js' %}"></script>
    <!-- MAIN JS -->
<script src="{% static 'usa_website/js/main.js' %}"></script>





<script type="text/javascript">
// Choropleth Scripts

var District = L.tileLayer(
	'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=' + 'pk.eyJ1Ijoic2hlZXBpbmF2IiwiYSI6ImNqZHA2bnFrMjBjYnoycm80M3BiaW1lc3EifQ.3MflXoZep5Hlr1ryAomj9A', {
		id: 'mapbox.light',
	});

var map = L.map('map', {renderer: L.canvas()},
				{layers:[ District]}).setView([37.278,-119.418], 5.5);

var baseMaps = {

  };

var overlayMaps = {
  "District": District
  };

L.control.layers(baseMaps, overlayMaps).addTo(map);
// District.addTo(map);

// adding color to the map chloropleth
function getColor(d) {
  // TODO: See style(feature) to understand what levels of color to hardcode
  return 	d > 5000  ? '#800026':
          d > 3500  ? '#BD0026':
          d > 2000  ? '#E31A1C':
          d > 1000   ? '#FC4E2A':
          d > 500   ? '#FD8D3C':
          d > 100   ? '#FEB24C':
          d > 0   ? '#FED976':
                    '#FFEDA0';
}

function style(feature) {
  return {
    // TODO: Fill by a more relevant attribute
    fillColor: getColor(feature.properties.median_gross_rent),
    weight: 2,
    opacity: 1,
    color: 'white',
    fillOpacity: 0.45
  };
}

//adds chloropleth to map - NOTE: What comment is this for lol

// TODO: TO IMPLEMENT (notes):
// if some layer is selected, set dataset to whatever the array is called, e.g.
// if education is selected on map, use dataset = secondary_school_district
var cali = L.geoJson(everything_schools, {style: style}).addTo(map);
map.addLayer(cali);
var geojson;

// highlight/remove highlight/zoom features
function highlightFeature(e) {
  var layer = e.target;
  layer.setStyle({
    weight: 5,
    color: '#666',
    fillOpacity: 0.7
  });
  if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
    layer.bringToFront();
  }
}

function resetHighlight(e) {
  geojson.resetStyle(e.target);
}

function zoomToFeature(e) {
  map.fitBounds(e.target.getBounds(),{padding:[100,100]});
  error(); // Jank but necessary workaround
}

function showinfo(e) {
  info.update(e.target.feature.properties);
}

var info = L.control();

// kk: I wanted to delete this function but leaflet errors without it...
// kk: I literally have no idea what this does.
info.onAdd = function (map) {
  this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
  this.update();
  //console.log(this._div);
  return this._div;
};

// method that we will use to update the control based on feature properties passed
// TODO: Fill this in with relevant info, make it look nice.
info.update = function (props) {
  if (props) {
    document.getElementById("name").innerHTML = props.name;
    document.getElementById("custom_index").innerHTML = props.new_rank.toFixed(4);
    document.getElementById("rank").innerHTML = props.rank;
    document.getElementById("kind").innerHTML = props.kind;
    document.getElementById("city").innerHTML = props.City;
    document.getElementById("county").innerHTML = props.County;
    document.getElementById("population").innerHTML = props.population;
    document.getElementById("households").innerHTML = props.households;
    document.getElementById("medgrossrent").innerHTML = props.median_gross_rent;
    document.getElementById("avgmonthlyhouse").innerHTML = props.h_cost;
    document.getElementById("violent").innerHTML = props.Violent_sum;
    document.getElementById("property").innerHTML = props.Property_sum;
    document.getElementById("transportation").innerHTML = props.t_cost_80ami;
    document.getElementById("transit").innerHTML = props.transit_cost_80ami;
  } else {
  }
};

info.update_loc = function (props) {
  this._div.innerHTML = '<h4>School District</h4>' +  (props ? '<b>' + props.name : '');
};

info.addTo(map);

// implements cool features
function onEachFeature(feature, layer) {
  layer.on({
	  mouseover: highlightFeature,
	  mouseout: resetHighlight,
	  dblclick: zoomToFeature,
	  click: showinfo
  });
}

geojson = L.geoJson(everything_schools, {
  style: style,
  onEachFeature: onEachFeature
}).addTo(map);


function initMap() {
	//var map2 = new google.maps.Map(document.getElementById('map2'), {
	//	zoom: 8, center: {lat: 36, lng: -119}});

	var geocoder = new google.maps.Geocoder();

  document.getElementById('address').addEventListener('keydown', function(event) {
  if (event.which === 13) {
    geocodeAddress(geocoder, map);
  }
  });

	document.getElementById('submit').addEventListener('click', function() {
		geocodeAddress(geocoder, map);
	});
}

function geocodeAddress(geocoder, resultsMap) {
	var addr = document.getElementById('address').value + " california";
	geocoder.geocode({address: addr,
					  componentRestrictions: {
						country: 'USA',
					  }
					 },
					 function(results, status) {
						if (status === 'OK') {
						  map.flyTo([results[0].geometry.location.lat(),
									 results[0].geometry.location.lng()], 12);
						  // temp = results;
						  // console.log(results);
						} else {
						  alert('Geocode was not successful for the following reason: ' + status);
						}
					 });
}

function reset() {
	map.setView([37.278,-119.418], 5.5);
}

icounter=1;
function pat() {
	if(icounter%2==1){
    document.getElementById("pat").style = "display:visible";
  } else{
    document.getElementById("pat").style = "display:none";
  }
  icounter=icounter+1;
}
</script>
</body>
</html>
