
{% extends "blog/blog_header.html" %}
{% block content %}
{% load staticfiles %}


<script>

$( document ).ready(function() {
    var heights = $(".item-grid").map(function() {
        return $(this).height();
    }).get(),
    maxHeight = Math.max.apply(null, heights);
    $(".item-grid").height(maxHeight);
});

</script>
    <!--
<div class="container">

</div>
<aside id="fh5co-hero" class="js-fullheight">
    <div class="flexslider js-fullheight">
        <ul class="slides">
            <li style="background-image: url({% static 'usa_website/images/research.jpg' %});">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
                        <div class="slider-text-inner">
                            <h2>Research & Publication</h2>
                            <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSf91HQneSOXWyZ3YNKKbwXkXgch01xdfUwiqQGsI6T8SgISGQ/viewform" class="btn btn-primary btn-lg">Apply</a></p>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</aside> -->
  <div id="blog_body">
    <div id="fh5co-blog-section">
        <div class="container">
            <center>
                <h3>Journal Introduction</h3>
                <p>The Statistics Undergraduate Students Association is proud to announce <b><i>The University Statistics Review</i></b>, our online journal to showcase undergraduate statistics and data science-related research. Throughout the semester, students have used statistical methods and tools to analyze a myriad of topics of personal interest, from song lyrics to the game of Go. The wide-ranging topics of articles we produce reflect the diversity of the statistics community itself, and we aim to publish content accessible to all readers. In addition, this journal serves as an outlet for discussion and commentary on the statistics community at Berkeley, whether it be experiences or ongoing developments. Articles are intended to be accessible to those without a statistical background, in order to foster broader interdisciplinary discourse. Readers can anticipate data-driven articles and more.</p>
            </center>
            <!--
            <h3>Featured</h3>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <a href="{% url 'alphago' %}" class="item-grid">
                        <div class="image" style="background-image: url({% static 'usa_website/images/go.jpg' %})">

                        </div>
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">An Introduction to Go, AlphaGo and Quantifying Go Gameplay</h3>
                                <h5 class="date"><span>Issac Yiu</span></h5>
                                <h5 class="date"><span>Fall 2017</span></h5>
                                <p>Our increasingly data-driven world has sparked a surge of awareness, discussion, and innovation regarding the application of artificial intelligence to all aspects of our daily lives. Google Alphabet’s DeepMind is one of the leading groups in the field, and focused much of its recent efforts on the development of AlphaGo, a super-program designed to beat the game of Go...</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-sm-6">
                    <a href="{% url 'rapnet' %}" class="item-grid">
                        <div class="image" style="background-image: url({% static 'usa_website/images/microphone.jpg' %})">

                        </div>
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">Rapnet: Machine Learning for Hip-Hop Artist Classification</h3>
                                <h5 class="date"><span>Alex Chan</span></h5>
                                <h5 class="date"><span>Fall 2017</span></h5>
                                <p>Musical artists distinguish themselves in many ways, defining their own styles and genres to appeal to an audience. One of the ways artists accomplish this is through lyrics. Lyrics act as a medium for the artist to convey a message – whether it be a story, call to action, or anything in between. The goal of this paper is to develop a classifier to distinguish between lyrics of different artists, specifically in the hip-hop genre...</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>-->
            <br><br>
            <h3>Crash Courses</h3>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <a href="{% url 'r0' %}" class="item-grid">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">Introduction to R - Installing R and RStudio</h3>
                                <h5 class="date"><span>Arun Ramamurthy</span></h5>
                                <h5 class="date"><span>February 22, 2018</span></h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-4">
                    <a href="{% url 'r1' %}" class="item-grid">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">Introduction to R - Base R and Basic Packages</h3>
                                <h5 class="date"><span>Arun Ramamurthy</span></h5>
                                <h5 class="date"><span>March 10, 2018</span></h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-4">
                    <a href="{% url 'r2' %}" class="item-grid">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">Introduction to R - Preparing for Data Analysis</h3>
                                <h5 class="date"><span>Arun Ramamurthy</span></h5>
                                <h5 class="date"><span>March 5, 2018</span></h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <a href="{% url 'bias_variance' %}" class="item-grid">
                      <div class="image" style="width:100%; background-image: url({% static 'usa_website/images/blog/bias_variance.gif' %})">
                      </div>
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">The Bias Variance Tradeoff, Decision Trees, Bagging and Ensemble Learning</h3>
                                <h5 class="date"><span>Patrick Chao</span></h5>
                                <h5 class="date"><span>March 21, 2018</span></h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-4">
                    <a href="{% url 'p0' %}" class="item-grid">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">Introduction to Python - Installing Python and Anaconda</h3>
                                <h5 class="date"><span>Arun Ramamurthy</span></h5>
                                <h5 class="date"><span>February 21, 2018</span></h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-4">
                    <a href="{% url 'website_tutorial_0' %}" class="item-grid">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">How to Build Your Own Personal Website Part 0 - An Introduction to Git</h3>
                                <h5 class="date"><span>Abhinav Bhaskar</span></h5>
                                <h5 class="date"><span>June 25, 2018</span></h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <br><br>
            <h3>Spring 2018 Data Consulting</h3>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <a href="{% url 'data_good' %}" class="item-grid">
                      <div class="image" style="background-image: url({% static 'usa_website/images/blog/data_good.png' %})">
                      </div>
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">Evaluating and Advising Public Policy Directives for the California Housing Crisis</h3>
                                <h5 class="date"><span>PM Patrick Chao</span></h5>
                                <h5 class="date"><span>Spring 2018</span></h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-sm-6">
                    <a href="{% url 'tutorfly' %}" class="item-grid">
                      <div class="image" style="background-image: url({% static 'usa_website/images/blog/tutorfly.png' %})">
                      </div>
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">Tutorfly</h3>
                                <h5 class="date"><span>PM Zhongling Jiang</span></h5>
                                <h5 class="date"><span>Spring 2018</span></h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <br><br>
            <h3>Fall 2017 Data Consulting</h3>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <a href="{% url 'population_modeling' %}" class="item-grid">
                        <div class="image" style="background-image: url({% static 'usa_website/images/blog/population_modeling_proj2.gif' %})">

                        </div>
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">Population Modeling</h3>
                                <h5 class="date"><span>PM Patrick Chao</span></h5>
                                <h5 class="date"><span>Fall 2017</span></h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-sm-6">
                    <a href="{% url 'facial_emotion_recognition' %}" class="item-grid">
                      <div class="image" style="background-image: url({% static 'usa_website/images/blog/facial_emotion_recognition.jpg' %})">
                      </div>
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">Facial Emotion Recognition</h3>
                                <h5 class="date"><span>PM Zhongling Jiang</span></h5>
                                <h5 class="date"><span>Fall 2017</span></h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <br><br>
            <h3>Fall 2017 Research and Publications</h3>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <a href="{% url 'shallow_dive' %}" class="item-grid">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">A Shallow Dive into Time Series: Analysis of Local Restaurant Data Using R</h3>
                                <h5 class="date"><span>Kenna Schoeler</span></h5>
                                <h5 class="date"><span>Fall 2017</span></h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-4">
                    <a href="{% url 'tobacco_heart_disease' %}" class="item-grid">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">A Spatial Investigation into Heart Disease Mortality Rates and Youth Tobacco Rates</h3>
                                <h5 class="date"><span>Mee Kyoung Seo</span></h5>
                                <h5 class="date"><span>Fall 2017</span></h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-4">
                    <a href="{% url 'alphago' %}" class="item-grid">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">An Introduction to Go, AlphaGo and Quantifying Go Gameplay</h3>
                                <h5 class="date"><span>Issac Yiu</span></h5>
                                <h5 class="date"><span>Fall 2017</span></h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <a href="{% url 'rapnet' %}" class="item-grid">
                      <div class="image" style="background-image: url({% static 'usa_website/images/blog/rapnet.png' %})">
                      </div>
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">Rapnet: Machine Learning for Hip-Hop Artist Classification</h3>
                                <h5 class="date"><span>Alex Chan</span></h5>
                                <h5 class="date"><span>Fall 2017</span></h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-4">
                    <a href="{% url 'evol_lyrics' %}" class="item-grid">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">The Evolution of Lyrics</h3>
                                <h5 class="date"><span>Kathleen Qin</span></h5>
                                <h5 class="date"><span>Fall 2017</span></h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-4">
                    <a href="{% url 'ucb_ug_mental' %}" class="item-grid">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">UC Berkeley Undergraduates' General Mental Health and Use of Mental Health Services</h3>
                                <h5 class="date"><span>Shengyi Wu</span></h5>
                                <h5 class="date"><span>Fall 2017</span></h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <a href="{% url 'world_happiness' %}" class="item-grid">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">World Happiness Report EDA</h3>
                                <h5 class="date"><span>Sydney Yang</span></h5>
                                <h5 class="date"><span>Fall 2017</span></h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-4">
                    <a href="{% url 'yelp_review' %}" class="item-grid">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">Yelp Review and Rating Analysis</h3>
                                <h5 class="date"><span>Annabelle Lee</span></h5>
                                <h5 class="date"><span>Fall 2017</span></h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--</div>-->
</div> <!-- Closing div for fh5co-pricing-section -->
<div class="col-md-12 text-center animate-box">
    <!--<p><a href="/project" class="btn btn-primary with-arrow">View Past Projects <i class="icon-arrow-right"></i></a></p>-->
</div>
</div>
{% endblock %}
