
{% extends "blog/blog_header.html" %}
{% block content %}
{% load staticfiles %}



    <!--
<div class="container">

</div>
<aside id="fh5co-hero" class="js-fullheight">
    <div class="flexslider js-fullheight">
        <ul class="slides">
            <li style="background-image: url({% static 'usa_website/images/research.jpg' %});">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
                        <div class="slider-text-inner">
                            <h2>Research & Publication</h2>
                            <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSf91HQneSOXWyZ3YNKKbwXkXgch01xdfUwiqQGsI6T8SgISGQ/viewform" class="btn btn-primary btn-lg">Apply</a></p>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</aside> -->

    <h3>Featured</h3>
    <p><a href="{% url 'alphago' %}">AN INTRODUCTION TO GO, ALPHAGO AND QUANTIFYING GO GAMEPLAY</a></p>
    <p><a href="{% url 'rapnet' %}">RAPNET: MACHINE LEARNING FOR HIP-HOP ARTIST CLASSIFICATION</a></p>

    <br>
    <h3>Fall 2017</h3>
    <p><a href="{% url 'shallow_dive' %}">A SHALLOW DIVE INTO TIME SERIES: ANALYSIS OF LOCAL RESTAURANT DATA USING R</a></p>
    <p><a href="{% url 'tobacco_heart_disease' %}">A SPATIAL INVESTIGATION INTO HEART DISEASE MORTALITY RATES AND YOUTH TOBACCO RATES</a></p>
    <p><a href="{% url 'alphago' %}">AN INTRODUCTION TO GO, ALPHAGO AND QUANTIFYING GO GAMEPLAY</a></p>
    <p><a href="{% url 'rapnet' %}">RAPNET: MACHINE LEARNING FOR HIP-HOP ARTIST CLASSIFICATION</a></p>
    <p><a href="{% url 'evol_lyrics' %}">THE EVOLUTION OF LYRICS</a></p>
    <p><a href="{% url 'ucb_ug_mental' %}">UC BERKELEY UNDERGRADUATES' GENERAL MENTAL HEALTH AND USE OF MENTAL HEALTH SERVICES</a></p>
    <p><a href="{% url 'world_happiness' %}">WORLD HAPPINESS REPORT EDA</a></p>
    <p><a href="{% url 'yelp_review' %}">YELP REVIEW AND RATING ANALYSIS</a></p>
    
    </div>
</div> <!-- Closing div for fh5co-pricing-section -->
<div class="col-md-12 text-center animate-box">
    <!--<p><a href="/project" class="btn btn-primary with-arrow">View Past Projects <i class="icon-arrow-right"></i></a></p>-->
</div>

{% endblock %}
