{% extends "blog/blog_header.html" %}
{% block content %}
{% load staticfiles %}


<div class="col-md-9">
<div class="container-fluid">
  <h3>Introduction to R</h3>
  <h4> Part 1: Base R & Basic Packages</h4>
  <h4><span style="color: #D5518D" id="author">By </span><span style="color: #3E95D7" id="name">Arun Ramamurthy</span>  </h4>
  <br />
  <h4>Introduction</h4>
  <p>
	In this first tutorial on R, you will learn about how to actually use R to work with data, as well as the core concepts behind R programming. You will learn the basics of R syntax as well as several functions in base R. Finally, you will grow familiarity with R Markdown, especially as you work within the r1-workbook associated workbook.
  </p>
  <br />
  <h4>About this Document</h4>
  <h5>Prerequisites</h5>
  <p>
  	The only prerequisite for this tutorial is <a href="https://susa.berkeley.edu/blog/installing-r-and-rstudio">r0</a>. You will need to install both R and RStudio to use the r1-workbook associated workbook. Visit <a href="https://susa.berkeley.edu/blog/installing-r-and-rstudio">r0</a> for general information on the philosophy and functionality of R and RStudio, as well as installation guides for both.
  </p>
  <br/>
  <h5>r1</h5>
  <p>
  	This document contains textbook-style information on R programming. It will cover the essentials of both base R and a few packages such as <pre class="python"><code>magrittr</code></pre> and <pre class="python"><code>stringr</code></pre>.
  </p>
  <br />
  <h5>r1-workbook</h5>
  <p>
  	The r1-workbook contains associated exercises to work through as you learn about the concepts within this document. They are aimed to help you get practice and familiarity with R programming concepts and functions. At the end of each section of this document, solve the problems in the matching section of the workbook to help your understanding of the material.
  </p>
  <br />
  <h4>R Markdown</h4>
  	<p>The associated workbook requires some knowledge of R Markdown to use.</p>
  	<br/>
  	<p>
  		<strong>R Markdown</strong> is a powerful way to combine text, code, code output, images, LaTeX, and web elements into a single document, report, slide deck, or website. R Markdown is a file format and markup language that allows you to <strong>knit</strong> together <pre class="python"><code>Rmd</code></pre> files, which can either be <em>interactive</em> (as <strong>notebooks</strong>), or <em>published</em> (like this <pre class="python"><code>html</code></pre> document). It allows you to break up your code into bite-sized <strong>code chunks</strong>, surrounded by (optionally marked up) text. See the Additional Reading section at the end of this document for more information on how to make your own beautiful reports and workbooks in R! As R Markdown documents are standalone and work regardless of the computer that opens them, they are the best way to edit and share statistical code.
  	</p>
  	<br />
  	<p>
  		At the very core of the notebook philosophy is the <strong>code chunk</strong>. To make a chunk in RStudio, simply type three backticks, <pre class="python"><code>{R}</code></pre>, and then three more backticks when you are finished writing your code chunk. An example of the chunk syntax is below: 
  	</p>
</div>
</div>