@keyframes bounce {
  0% {
    transform: translateY(0); }
  20% {
    transform: translateY(0); }
  40% {
    transform: translateY(-20px); }
  50% {
    transform: translateY(0); }
  60% {
    transform: translateY(-10px); }
  80% {
    transform: translateY(0); }
  100% {
    transform: translateY(0); } }

@keyframes bounce_out {
  0% {
    transform: translateX(0); }
  20% {
    transform: translateX(0); }
  40% {
    transform: translateX(20px); }
  50% {
    transform: translateX(0); }
  60% {
    transform: translateX(10px); }
  80% {
    transform: translateX(0); }
  100% {
    transform: translateX(0); } }

html, body {
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica,Arial, sans-serif !important;

}

#details {
  display: inline;
  text-align: left;
}

#overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: block;
  z-index: 3;
}

.search-bar {
  width: 50%;
}

.user-slider {
  height:40px;
  width: 300px;
  background-color: rgba(0,0,0,0);
  border: none;
}

.overlayContent {
  position: absolute;
  top: 25%;
  left: 25%;
  color: white;
  /*transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);*/
}

.input-group {
  color: white;
}

.recalc-btn {
  color: black;
}

.bounce {
  animation: bounce 3s 1.5s 6s;
}

.bounce_out {
  animation: bounce_out 3s 1.5s 6s;
}

#map {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.slider {
  position: absolute;
  background-color: rgba(0,0,0,0.4);
  z-index: 2;
  transition-duration: 500ms;
}

.slider:hover {
  background-color: rgba(0,0,0,0.8);
}

#leftsidebar {
  left: -420px;
  height: calc(100% - 20px);
  top: 0%;
  width: 420px;
  transition-property: top,left,height;
  background-color: rgba(0,0,0,0.4);
}
#searchbar {
  position: absolute;
  display: block;
  top: 1%;
  right: 1%;
  padding: 5px !important;
  width: 300px !important;
  border-radius: 5px !important;
  z-index: 2;
  background-color: gray;
  opacity: 0.9;
}
/*
.leaflet-control-zoom {
  position: element(#searchbar);
  transform: translateY(-20%);
}
.easy-button-container {
  position: element(#searchbar);
  transform: translateY(-25%);
}*/
#address {
  width: 180px;
  float: left;
  padding-left: 12px;
  padding-right:12px;
  padding-bottom:6px;
  padding-top:6px;
  height:32px;
}
#submit {
  width: 90px;
  float: right;
  padding-left: 12px;
  padding-right:12px;
  padding-bottom:6px;
  padding-top:6px;
}
#helpOverlay {
  display: block;
  /*border: 2px solid white;*/
  padding: 5px;
  border-radius: 5px;
  bottom: 5%;
  right: 1%;
  height: 30px;
  width: 30px;
  font-size: 18px;
  font-weight: bolder;
  font-size: larger;
  color: black;
  background-color: white;
  opacity: 0.9;
  z-index: 5;
  float: right;
}
#helpButton {
  height: 30px;
  width: 30px;
  float: right;
}
.parameter {
  font-size: 20px;
}
#tableTitle {
  left: 0px;
  height: 30px;
  width: 50%;
  float: left;
  font-family: "Helvetica Neue", Helvetica,Arial;
}
#dropdownWindow {
  left: 0px/*20px*/;
  height: 25%;
  bottom: -25%;
  width: 100%/*calc(100% - 20px)*/;
  min-height: 100px;
  transition-property: bottom;
  background-color: rgba(0,0,0,0.4);
}

#toggleSidebar {
  height: calc(100% - 20px);
  width: 20px;
  left: 0%;
  transition-property: top, height, left;
}

#toggleDropdown {
  left: 0px/*20px*/;
  height: 20px;
  width: 100%/*calc(100% - 20px)*/;
  bottom: 0%;
  transition-property: bottom;
}

.arrow-left {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  transform: scale(-1, 1);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;

  border-right: 20px solid white;
}

.arrow-bottom {
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  transform: scale(1, -1);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid white;
}

#reset_map {
  margin: 10px;
  z-index: 20;
}

#housingbutton {
  background: transparent;
  border: none !important;
}

.text-center {
  display: none !important;
}
.legend{
  width:250px;
  z-index: 10000;
}
#countyOverlay {
  position: absolute;
  display: block;
  /*border: 2px solid white;*/
  padding: 5px;
  border-radius: 5px;
  top: 180px;
  right: 1%;
  font-size: 18px;
  font-weight: bolder;
  font-size: larger;
  color: black;
  background-color: white;
  opacity: 0.9;
  z-index: 2;
}
.tableTitle{
  font-size: 20px;
}
h1 {
  text-align: center;
  padding: 30px;
}

p {
  text-align: center;
}

.info {
  padding: 3px 4px;
  font: 12px/14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  /*color: #4286f4;*/
  font: 10px/14px Arial, Helvetica, sans-serif;
}

.input-group {
  height: 40px;
  width: auto;
}

.domain-min {
  margin-right: 138px;
}

.domain_max {
  margin-left: 138px;
}


/* KILLING LEAFLET STUFF, MAY BREAK FUTURE SHIT */

.leaflet-control-layers {
  display: none;
}

div.info.leaflet-control {
  display: none;
}

div.info.legend.leaflet-control {
  display: block;
}

.tooltip2 {
  position: relative;
  display: inline-block;
}
.tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 150px;
    height: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0px 0;
    position: absolute;
    z-index: 6;
    top: -5px;
    font-size: 15px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}
.tooltiptext-right {
  left: 105%
}
.tooltiptext-left {
  right: 105%;
}

.tooltip2:hover .tooltiptext2 {
    visibility: visible;
    opacity: 1;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}
/*
.county-name{
  position: absolute;
  top:2em;
  right:1em;
  z-index:6;
  background:rgba(0,0,0,.75);
  color:white;
  padding:.5em .75em;
  font-size:.85em;
  display:none;
}
*/
